/* Remove styles of the web browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    width: 300px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
/* ----- */

/* header navs */
header{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 1.2rem 4rem;
    align-items: center;
}

.navbar-and-logo, .content-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    margin-right: 20px;
}

.nav-links {
    display: flex;
    gap: 5rem;
}

/* header content */


/* main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 15px;
}

main .cards{
    gap: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    border: 2px blue solid;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* quote content */
.quote {
    padding: 50px;
    background-color: rgb(168, 164, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text{

}

/* modal content */
.modal {
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(63, 63, 228);
    color: white;

}

.button-modal {
    align-self: center;
}

.button-modal button{
    padding: 5px;
    border-radius: 5px;
    border: 1px white solid;
    color: white;
    background-color: transparent;
}

/*footer content*/




