/* Remove styles of the web browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
}

img{
    max-width: 100%;
    height: auto;
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.container {
    position: relative;
    min-height: 100vh;
}

.wrap-content {
    padding-bottom: 3.5rem;

}


/* ----- */

/* header navs */

header{
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    /* padding: 1.2rem 4rem; */
    align-items: center;
    padding: 30px;
    background-color: #1F2937;
    color: white;
}

.navbar-and-logo {
    padding-bottom: 30px;
}

.navbar-and-logo, .content-header {
    display: flex;
    justify-content: space-between;
    width: 70%;

}



.logo{
    margin-right: 20px;
}

.nav-links {
    display: flex;
    gap: 5rem;
}

.text-header{
    padding-right: 40px;
    flex-wrap: wrap;
    width: 100%;
    font-size: 20px;
}

#sign-up {
    padding: 8px 19px;
    color: white;
    background-color: #3882F6;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

header img {
    max-width: 100%;
    width: 500px;

}
/* header content */


/* main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 15px;
    flex: 1;
}

main .cards{
    gap: 20px;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    border: 2px #3882F6 solid;
    border-radius: 10px;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* quote content */
.quote {
    padding: 50px;
    background-color: rgb(168, 164, 164);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
}

/* modal content */
.modal {
    display: flex;
    flex: 1;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 30px;
    width: 30%;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: white;
}

.button-modal {
    align-self: center;
}

.button-modal button{
    padding: 5px;
    border-radius: 5px;
    border: 1px white solid;
    color: white;
    background-color: transparent;
}

/*footer content*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.85rem;
    position: absolute;
    background-color: #1F2937;
    color: white;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}   


